asttokens==2.4.1
attrs==23.2.0
black==24.4.2
cachetools==5.3.3
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
coverage==7.5.1
cycler==0.12.1
dateparser==1.2.0
decorator==5.1.1
dill==0.3.8
distlib==0.3.8
exceptiongroup==1.2.1
execnet==2.1.1
executing==2.0.1
filelock==3.14.0
flake8==7.0.0
fonttools==4.51.0
gevent==24.2.1
greenlet==3.0.3
idna==3.7
imageio==2.34.1
importlib_resources==6.4.0
ipython==8.18.1
ipywidgets==8.1.2
jedi==0.19.1
joblib==1.4.2
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
llvmlite==0.39.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mock==5.1.0
more-itertools==10.2.0
mpl-finance==0.10.1
mplfinance @ file:///Users/heyunfeng/Desktop/Code/Binance-future/mplfinance-0.12.10b0.tar#sha256=e4e48a117722e0b150e4afadb30bedcc101fb8f5002db6ab719a91ad0174f1b5
mypy-extensions==1.0.0
numba==0.56.4
numpy==1.23.5
packaging==24.0
pandas==2.2.2
pandas_ta==0.3.14b0
parso==0.8.4
pathspec==0.12.1
pep8==1.7.1
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.1
plotly==5.22.0
pluggy==0.13.1
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.11.1
pycryptodome==3.20.0
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==3.1.2
pyproject-api==1.6.1
pytest==5.4.1
pytest-cache==1.0
pytest-cov==2.8.1
pytest-pep8==1.0.6
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.10
requests==2.31.0
responses==0.10.12
schedule==1.2.1
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
stack-data==0.6.3
sure==1.4.11
tenacity==8.3.0
threadpoolctl==3.5.0
tomli==2.0.1
tox==4.15.0
tox-pyenv==1.1.0
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
vectorbt==0.26.1
virtualenv==20.26.1
wcwidth==0.2.13
websocket==0.2.1
websocket-client==1.8.0
widgetsnbextension==4.0.10
zipp==3.18.1
zope.event==5.0
zope.interface==6.3
